  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
      
.nav-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    background-color: #fafafa;
    text-decoration-color: black;
    text-emphasis-color: black;


}
nav ul li a{
  color: black;
}    
.brand-logo-left{
    color: black
}

.page-footer{
    background-color: #fafafa;
    
}

nav ul li.active {
  background-color: #64b5f6;
} 

img.medium{
   max-width: 70%;
   height:auto;
   max-height:100%;
}

h1{
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 18px;
}
.padded-text{
    margin-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
}
.parallax-container{
    height: 350px;
}
#portrait{
    float: right;
    width: 250px;
    border-radius: 50%;
    margin-left: 2%;
}
.recent-projects{
    margin-top: 5%
}
.card-medium{
    height: 400;
}
#project-cards{
    margin-top:2%
}